<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Upload an Image for Prediction</h2>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Upload">
    </form>

    {% if prediction %}
        <h3>Number of Predicted object: {{ prediction }}</h3>
        <img src="{{ img_path }}" alt="Uploaded Image" height="200">
        <br>
        <button>Show More</button>
    {% endif %}
    {% if error %}
        <h3 style="color: red;">Error: {{ error }}</h3>
    {% endif %}
</body>
</html>